html { overflow-y: scroll; }

body { margin: 0 auto; color: #333; background-color: #fff; font: "Microsoft yahei", "simhei", Arial; text-align: center; }

p, dl, dt, dd, table, td, th, input, img, form, div, span, ul, ol, li, h1, h2, h3, h4, h5, h6, select, input { margin: 0; padding: 0; font-weight: normal; }

img, iframe { border: none; }

ul, li, ol { list-style: none; }

img { vertical-align: middle; }

table { border-collapse: collapse; border-spacing: 0; }

input { outline: none; }

em, b, i, strong, cite, sub, sup, font { font-weight: normal; font-style: normal; font-size: 100%; }

a { color: #858484; text-decoration: none; outline: none; }
a:hover { color: #c7171e; }

.clearfix { zoom: 1; }
.clearfix:before { content: ""; display: table; }
.clearfix:after { content: ""; display: table; clear: both; }

.clear { clear: both; }

.acg-left { float: left; }
.acg-right { float: right; }

.mt10 { margin-top: 10px; }

.mt20 { margin-top: 20px; }

.ml10 { margin-left: 10px; }

.mr10 { margin-right: 10px; }

.ml20 { margin-left: 20px; }

.mr20 { margin-right: 20px; }

.mb10 { margin-bottom: 10px; }

.mb20 { margin-bottom: 20px; }

.ml120 { margin-left: 120px; }

.tcenter { text-align: center; }

html, body { background-color: #f7f7f7; }

.acg-b-header { height: 70px; clear: both; overflow: hidden; background-color: #fff; }
.acg-b-header .acg-container { text-align: left; }
.acg-b-header .acg-main-logo { height: 70px; display: inline-block; line-height: 70px; }
.acg-b-header .acg-main-logo img { height: 50px; }
.acg-b-header .acg-index { font-size: 16px; position: relative; top: 10px; margin-left: 30px; }
.acg-b-header .myBusiness { margin-left: 30px; color: #c3080f; font-size: 20px; font-weight: bold; top: 10px; position: relative; }
.acg-b-header .acg-right-menu { float: right; height: 70px; overflow: hidden; line-height: 90px; }
.acg-b-header .acg-right-menu li { float: left; margin-left: 20px; }
.acg-b-header .acg-right-menu li a em { color: #c3080f; }
.acg-b-header .acg-right-menu li a i { font-size: 20px; margin-right: 5px; }

.acg-b-body { clear: both; overflow: hidden; width: 1200px; margin: 12px auto; }
.acg-b-body .acg-left-nav { width: 204px; overflow: hidden; float: left; box-sizing: border-box; padding-top: 34px; position: relative; }
.acg-b-body .acg-left-nav .acg-tab-nav { position: absolute; top: 0px; left: 0px; height: 40px; line-height: 30px; width: 204px; background-color: #fff; }
.acg-b-body .acg-left-nav .acg-tab-nav a { width: 50%; float: left; height: 40px; color: #333333; text-align: center; }
.acg-b-body .acg-left-nav .acg-tab-nav.acg-active { background-image: url("../images/common/navbg.png"); background-repeat: no-repeat; }
.acg-b-body .acg-left-nav .acg-tab-nav.acg-actice-1 { background-position: 0px 0px; }
.acg-b-body .acg-left-nav .acg-tab-nav.acg-actice-1 a:first-child { color: #fff; }
.acg-b-body .acg-left-nav .acg-tab-nav.acg-actice-2 { background-position: -205px 0px; }
.acg-b-body .acg-left-nav .acg-tab-nav.acg-actice-2 a:last-child { color: #fff; }
.acg-b-body .nav-box { background-color: #fff; width: 100%; }
.acg-b-body .nav-box .nav-item { border-bottom: 2px solid #f7f7f7; }
.acg-b-body .nav-box .nav-item.acg-active .navFlag { color: #c3080f; }
.acg-b-body .nav-box .nav-item i { color: #c3080f; margin: 0px 5px 0px 12px; position: relative; }
.acg-b-body .nav-box .nav-item .itemListOther a { display: block; height: 30px; line-height: 30px; text-align: left; padding-left: 30px; color: #666; }
.acg-b-body .nav-box .nav-item .itemListOther a:before { content: ""; display: inline-block; float: left; width: 4px; height: 4px; overflow: hidden; background-color: #666; position: relative; top: 14px; margin-right: 5px; }
.acg-b-body .nav-box .nav-item .itemListOther a:hover { color: #c3080f; }
.acg-b-body .nav-box .nav-item .itemListOther a:hover:before { background-color: #c3080f; }
.acg-b-body .nav-box .nav-item .itemListOther a.acg-active { background-color: #c3080f; color: #fff; }
.acg-b-body .nav-box .nav-item .itemListOther a.acg-active:before { background-color: #fff; }
.acg-b-body .nav-box .nav-item .itemList { clear: both; overflow: hidden; text-align: left; padding-left: 12px; padding-bottom: 8px; }
.acg-b-body .nav-box .nav-item .itemList a { display: inline-block; text-align: left; padding: 0px 4px; font-size: 14px; height: 22px; line-height: 22px; }
.acg-b-body .nav-box .nav-item .itemList a:hover, .acg-b-body .nav-box .nav-item .itemList a.acg-active { background-color: #c3080f; color: #fff; }
.acg-b-body .nav-box .navFlag { height: 38px; line-height: 38px; color: #484848; font-size: 16px; font-weight: bold; display: block; text-align: left; }
.acg-b-body .acg-right-content { width: 976px; background-color: #fff; float: left; margin-left: 20px; }

.acg-b-footer { height: 189px; margin-top: 20px; background-color: #747474; }
.acg-b-footer .acg-footer-down { border-top: 1px solid #616161; margin-top: 30px; }
.acg-b-footer .acg-footer-down .acg-footer-down-about { color: #fff; margin-top: 20px; }
.acg-b-footer .acg-footer-down .acg-footer-down-about a { color: #fff; margin-right: 20px; margin-left: 20px; }
.acg-b-footer .acg-footer-down .acg-footer-down-about a:hover { color: #c3080f; }
.acg-b-footer .acg-footer-down .acg-copyright { color: #fff; font-size: 14px; margin-top: 20px; }
.acg-b-footer .acg-footer-down .acg-lower { margin-top: 20px; }
.acg-b-footer .acg-footer-down .acg-lower li { float: left; width: 20%; text-align: center; }
.acg-b-footer .acg-footer-down .acg-lower li a { color: #fff; }
.acg-b-footer .acg-footer-down .acg-lower li .acg-icon { display: inline-block; background-image: url("../images/common/copyright.png"); top: 6px; margin-right: 5px; }
.acg-b-footer .acg-footer-down .acg-lower li .acg-icon.beian { background-position: -28px 0px; width: 23px; height: 26px; position: relative; }
.acg-b-footer .acg-footer-down .acg-lower li .acg-icon.pingce { background-position: -76px 0px; width: 23px; height: 26px; position: relative; }
.acg-b-footer .acg-footer-down .acg-lower li .acg-icon.jingcha { background-position: -51px 0px; width: 26px; height: 26px; position: relative; }
.acg-b-footer .acg-footer-down .acg-lower li .acg-icon.chengxin { background-position: 0px 0px; width: 27px; height: 26px; position: relative; }
